
/* Medium devices */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /* POV */
    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img {
        max-width: 160px;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img:nth-child(2) {
        max-width: 70px;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper h1 {
        font-size: 28px;
    }

    /* Bottom Hero */
    .hound_gatos .bottom-hero__content-wrapper{
        min-height: 250px;
    }
    
    .hound_gatos .bottom-hero__content--img{
        top: -180px;
    }
    
}

/* Tab devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* POV */
    .citrus_hound_gatos_carousel-item{
        padding: 0 15px;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img {
        max-width: 100px;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img:nth-child(2) {
        max-width: 44px;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper h1 {
        font-size: 20px;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper {
        padding: 15px 0;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper p {
        font-size: 12px;
        padding: 10px 0;
    }

    .citrus_hound_gatos_carousel-inner .pov1 .cta-box a {
        margin: 0 10px;
    }

    /* Bottom Hero */
    .hound_gatos .bottom-hero__content-wrapper{
        min-height: 230px;
    }
    
    .hound_gatos .bottom-hero__content--img{
        top: -128px;
        padding: 0;
    }
    
}



/* Mobile devices */
@media only screen and (max-width: 767px){

    /* Show hide class */
    .m-hide{
        display: none;
    }

    .d-hide{
        display: block;
    }

    /* CTA Styles */
    .hound_gatos .cta-box {
        width: 100%;
    }

    .hound_gatos .cta-box a{
        text-transform: capitalize;
        text-decoration: underline;
        color: #001952 !important;
        background: none !important;
        border: none !important;
    }

    .hound_gatos .cta-box a:hover{
        color: #001952;
        border: none;
    }

    /* POV section */
    .citrus_hound_gatos_carousel-item .custom-container {
        flex-wrap: wrap;
    }

    .citrus_hound_gatos_carousel-item__col .d-hide{
        padding: 0 20px;
    }

    .citrus_hound_gatos_carousel-item__col:nth-child(1),
    .citrus_hound_gatos_carousel-item__col:nth-child(3) {
        width: 100%;
        padding: 0;
    }

    .citrus_hound_gatos_carousel-item__col:nth-child(2) {
        width: 100%;
        padding: 0;
    }

    .citrus_hound_gatos_carousel-inner .pov1 .citrus_hound_gatos_carousel-item__col:nth-child(2){
        background-image: url("img/citrus-hound-gatos-pov1-bg-mob.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .citrus_hound_gatos_carousel-inner .pov2 .citrus_hound_gatos_carousel-item__col:nth-child(2){
        background-image: url("img/citrus-hound-gatos-pov2-bg-mob.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .citrus_hound_gatos_carousel-inner .pov1 .cta-box a {
        width: auto;
        margin: 0 10px;
        color: #fff !important;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img {
        max-width: 120px;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img:nth-child(2) {
        max-width: 60px;
    }

    .citrus_hound_gatos_carousel-item__col .item-logo-wrapper img {
        max-width: 160px;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper {
        padding: 0 20px 20px;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper h1{
        max-width: 300px;
        margin: 0 auto;
    }

    .citrus_hound_gatos_carousel-item__col .item-text-wrapper p {
        max-width: 280px;
        min-height: 38px;
        margin: 0 auto;
    }


    /* Size section */
    .hound_gatos__sizes--content-wrapper{
        overflow-x: auto;
        width: 260%;
    }

    .hound_gatos__sizes--content .sizes__single-item{
        width: 70%;
    }

    /* Variety proteins */
    .hound_gatos .variety-proteins__content--wrapper{
        overflow-x: auto;
        width: 245%;
    }

    .hound_gatos .variety-proteins__single-item{
        width: 40%;
    }


    /* Bottom Hero */
    .hound_gatos .bottom-hero {
        margin: 50px 0 30px;
    }

    .hound_gatos .bottom-hero__bg{
        background-image: none;
    }

    .hound_gatos .bottom-hero__content-wrapper{
        flex-wrap: wrap;
    }

    .hound_gatos .bottom-hero__content-wrapper--col{
        width: 100%;
    }

    .hound_gatos .bottom-hero__content-wrapper--col:first-child{
        order: 2;
    }

    .hound_gatos .bottom-hero__content--text {
        padding: 40px 15px 30px;
    }

    .bottom-hero__content--text .cta-box a{
        color: #001952 !important;
    }

    .hound_gatos .bottom-hero__content--img{
        padding: 0;
        position: unset;
        display: flex;
    }


}